* {
  margin: 0;
}

.app_header {
  /* make sure image is not stretched  */
  object-fit: contain;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgrey;
}

.app {
  background-color: #fafafa;
  height: 100vh;
}